<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <title> {% block title %} {% endblock %}</title>
  </head>
  <body>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/dist/bundle.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
